/* .header {
    position: relative;
    width: 100%;
    height: 660px;
    background-position: center;
    background-size:300%;
    background-repeat: no-repeat;
}  */
.header {
    position: relative;
    width: 100%;
    height: 700px;
    background: radial-gradient(circle at 20% 30%, #ff6b6b, transparent 40%),
              radial-gradient(circle at 80% 70%, #1dd1a1, transparent 40%),
              radial-gradient(circle at 50% 50%, #54a0ff, transparent 60%);
    background-color: #1c1c1e;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgba(6, 45, 99, 0.736); /* Azul transparente */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    color: white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top:40px;
    
}

.text-overlay{
    margin-top:200px;
    max-width: 80rem;
    text-align: left;
    width: 100%;
}



.cards-headers{
    min-width: 90%;
    margin-top: 120px;
}

.card {
    background-color: rgb(255 255 255 / 0.05);
    backdrop-filter: blur(12px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(199, 186, 186, 0.1);
    border-radius: 0.74rem;
    max-width: 400px;
    /* transition: ease-in 0.2s; */
}

.card:hover{
    backdrop-filter: blur(18px);
    background-color: rgb(255 255 255 / 12%);;
    transition: ease-in 0.2s;
}

.card-content {
    padding: 20px;
    display: flex;
    gap:14px;
}

.icon-card svg{
    fill:#4ca2cd;
}
  



/* Ajustes para pantallas más pequeñas (móviles) */
@media (max-width: 768px) { 
    .header {
      height: 920px; /* Ajuste para móviles */
    }
    .text-overlay{
        margin-top: 150px;
    }
    .cards-headers{
        margin-top: 60px;
    }
}
  
@media (max-width: 480px) {

    .header {
      height: 1100px; /* Altura mínima para pantallas muy pequeñas */
    }
    .text-overlay{
        margin-top: 40px;
    }
    .cards-headers{
        margin-top: 40px;
    }
  }